##########################################################################
################################## MCU ###################################
##########################################################################

[printer]
kinematics: hash
max_velocity: 1500
max_accel: 3000
max_z_velocity: 250
max_z_accel: 30

## Main MCU Board
#[mcu]
#serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_4C0020000951313430323835-if00

## Support Board
# [mcu]
# serial: /dev/ttyUSB0

## Toolhead Board
[mcu]
canbus_uuid: 48ca7afe7a44
canbus_interface: can0

[include mainsail.cfg]

[statistics]
active: 0

[virtual_sdcard]
path: ~/printer_data/gcodes



##########################################################################
################################ Ethercat ################################
##########################################################################

[ethercatservo_x]
position_min: -200
position_endstop: 0
position_max: 200
homing_retract_dist: 0.0
sampling_time: 0.01
position_scaling: 100
velocity_scaling: 100
homing_positive_dir: 0

[ethercatservo_y]
position_min: -200
position_endstop: 0
position_max: 200
homing_retract_dist: 0.0
sampling_time: 0.01
position_scaling: 100
velocity_scaling: 100
homing_positive_dir: 0



##########################################################################
################################ Z Motors ################################
##########################################################################

[output_pin tmc_enable]
pin: PC13
value: 1  # Enable at startup

[serialservo_z]
endstop_pin: ^PC14
position_min: -2000
position_endstop: 0.5
position_max: 2000
homing_retract_dist: 0.0
homing_positive_dir: 0
scaler: 30000

#[tmc4671 serialservo_z]
#cs_pin: PG10
#spi_speed: 4000000
#spi_bus: spi1
#run_current: 1
#hold_current: 0.5
#motor_type: 3
#pole_pairs: 50

[tmc4671 serialservo_z]
cs_pin: PA4
spi_speed: 4000000
spi_bus: spi3
run_current: 1
hold_current: 0.5
motor_type: 2
pole_pairs: 50
mode_motion: 3

# [tmc4671 serialservo_z]
# cs_pin: PA4
# spi_speed: 4000000
# spi_bus: spi3
# current_scale_ma_lsb: 1.155
# run_current: 1.0  # Rated current per phase
# flux_current: 0.5  # Adjusted for stepper torque control
# foc_motor_type: 2  # Two-phase stepper motor
# foc_n_pole_pairs: 50  # Number of pole pairs; adjust as necessary
# foc_pwm_sv: 0
# foc_adc_i_ux_select: 0
# foc_adc_i_v_select: 2
# foc_adc_i_wy_select: 1
# foc_abn_decoder_ppr: 4000  # Encoder pulses per revolution; verify with your encoder
# foc_abn_direction: 0
# foc_phi_e_selection: 3
# foc_position_selection: 9
# foc_velocity_selection: 3
# foc_pid_flux_p: 9.4  # Proportional gain for flux control
# foc_pid_flux_i: 0.087  # Integral gain for flux control
# foc_pid_torque_p: 9.4  # Proportional gain for torque control
# foc_pid_torque_i: 0.087  # Integral gain for torque control
# foc_pid_velocity_p: 4.5  # Proportional gain for velocity control
# foc_pid_velocity_i: 0.0  # Integral gain for velocity control
# foc_pid_position_p: 2.5  # Proportional gain for position control
# foc_pid_position_i: 0.0  # Integral gain for position control


##########################################################################
################################ Extruder ################################
##########################################################################

[extruder]
# Verified Pins: PC3 (step), PC2 (dir)
step_pin: PC3
dir_pin: PC2
enable_pin: PF2
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.500
filament_diameter: 3.500
heater_pin: PF11 # Verified TIM Pin
sensor_type: Generic 3950
sensor_pin: PA1 # Verified ADC Pin
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: -270
min_extrude_temp: -270
max_temp: 1000



##########################################################################
############################### Bed Heater ###############################
##########################################################################

#[heater_bed]
#heater_pin: PA15
#sensor_type: Generic 3950
#sensor_pin: PC0
#control: watermark
#min_temp: 0
#max_temp: 110



## XX ##########################################################################
## XX ################################## Fans ##################################
## XX ##########################################################################
## XX 
## XX [fan_generic Camera_Fan_1]
## XX pin: PF13
## XX max_power: 1.0
## XX shutdown_speed: 0
## XX #cycle_time: 0.010
## XX hardware_pwm: True
## XX #kick_start_time: 0.100
## XX off_below: 0.0
## XX tachometer_pin: PE7
## XX tachometer_ppr: 2
## XX tachometer_poll_interval: 0.0015
## XX 
## XX [fan_generic Camera_Fan_2]
## XX master_fan: Camera_Fan_1
## XX tachometer_pin: PE8
## XX tachometer_ppr: 2
## XX tachometer_poll_interval: 0.0015
## XX 
## XX [fan_generic Electronics_Chamber_Fan_1]
## XX pin: PF14
## XX max_power: 1.0
## XX shutdown_speed: 0
## XX #cycle_time: 0.010
## XX hardware_pwm: True
## XX #kick_start_time: 0.100
## XX off_below: 0.0
## XX tachometer_pin: PE9
## XX tachometer_ppr: 2
## XX tachometer_poll_interval: 0.0015
## XX 
## XX [fan_generic Electronics_Chamber_Fan_2]
## XX master_fan: Electronics_Chamber_Fan_1
## XX tachometer_pin: PG15
## XX tachometer_ppr: 2
## XX tachometer_poll_interval: 0.0015
## XX 
## XX [fan_generic Electronics_Chamber_Fan_3]
## XX master_fan: Electronics_Chamber_Fan_1
## XX tachometer_pin: PE0
## XX tachometer_ppr: 2
## XX tachometer_poll_interval: 0.0015
## XX 
## XX [fan_generic Electronics_Chamber_Fan_4]
## XX master_fan: Electronics_Chamber_Fan_1
## XX tachometer_pin: PE15
## XX tachometer_ppr: 2
## XX tachometer_poll_interval: 0.0015
## XX 
## XX [fan_generic Left_LED_Board_Fan_1]
## XX pin: PE5
## XX max_power: 1.0
## XX shutdown_speed: 0
## XX #cycle_time: 0.010
## XX hardware_pwm: True
## XX #kick_start_time: 0.100
## XX off_below: 0.0
## XX tachometer_pin: PE10
## XX tachometer_ppr: 2
## XX tachometer_poll_interval: 0.0015
## XX 
## XX [fan_generic Left_LED_Board_Fan_2]
## XX master_fan: Left_LED_Board_Fan_1
## XX tachometer_pin: PG2
## XX tachometer_ppr: 2
## XX tachometer_poll_interval: 0.0015
## XX 
## XX [fan_generic Right_LED_Board_Fan_1]
## XX pin: PE6
## XX max_power: 1.0
## XX shutdown_speed: 0
## XX #cycle_time: 0.010
## XX hardware_pwm: True
## XX #kick_start_time: 0.100
## XX off_below: 0.0
## XX tachometer_pin: PG3
## XX tachometer_ppr: 2
## XX tachometer_poll_interval: 0.0015
## XX 
## XX [fan_generic Right_LED_Board_Fan_2]
## XX master_fan: Right_LED_Board_Fan_1
## XX tachometer_pin: PG4
## XX tachometer_ppr: 2
## XX tachometer_poll_interval: 0.0015
## XX 
## XX [fan_generic Z1_Rail_Bottom_Fan]
## XX pin: PC8
## XX max_power: 1.0
## XX shutdown_speed: 0
## XX #cycle_time: 0.010
## XX hardware_pwm: True
## XX #kick_start_time: 0.100
## XX off_below: 0.0
## XX tachometer_pin: PA8
## XX tachometer_ppr: 2
## XX tachometer_poll_interval: 0.0015
## XX 
## XX [fan_generic Z1_Rail_Mid_Fan]
## XX pin: PC7
## XX max_power: 1.0
## XX shutdown_speed: 0
## XX #cycle_time: 0.010
## XX hardware_pwm: True
## XX #kick_start_time: 0.100
## XX off_below: 0.0
## XX tachometer_pin: PG7
## XX tachometer_ppr: 2
## XX tachometer_poll_interval: 0.0015
## XX 
## XX [fan_generic Z1_Rail_Top_Fan]
## XX pin: PC6
## XX max_power: 1.0
## XX shutdown_speed: 0
## XX #cycle_time: 0.010
## XX hardware_pwm: True
## XX #kick_start_time: 0.100
## XX off_below: 0.0
## XX tachometer_pin: PG6
## XX tachometer_ppr: 2
## XX tachometer_poll_interval: 0.0015
## XX 
## XX [fan_generic Z2_Rail_Bottom_Fan]
## XX master_fan: Z1_Rail_Bottom_Fan
## XX tachometer_pin: PD4
## XX tachometer_ppr: 2
## XX tachometer_poll_interval: 0.0015
## XX 
## XX [fan_generic Z2_Rail_Mid_Fan]
## XX master_fan: Z1_Rail_Mid_Fan
## XX tachometer_pin: PC13
## XX tachometer_ppr: 2
## XX tachometer_poll_interval: 0.0015
## XX 
## XX [fan_generic Z2_Rail_Top_Fan]
## XX master_fan: Z1_Rail_Top_Fan
## XX tachometer_pin: PA10
## XX tachometer_ppr: 2
## XX tachometer_poll_interval: 0.0015
## XX 
## XX [fan_generic Z3_Rail_Bottom_Fan]
## XX master_fan: Z1_Rail_Bottom_Fan
## XX tachometer_pin: PG1
## XX tachometer_ppr: 2
## XX tachometer_poll_interval: 0.0015
## XX 
## XX #[fan_generic Z3_Rail_Mid_Fan]
## XX #master_fan: Z1_Rail_Mid_Fan
## XX #tachometer_pin: PD1
## XX #tachometer_ppr: 2
## XX #tachometer_poll_interval: 0.0015
## XX 
## XX #[fan_generic Z3_Rail_Top_Fan]
## XX #master_fan: Z1_Rail_Top_Fan
## XX #tachometer_pin: PD0
## XX #tachometer_ppr: 2
## XX #tachometer_poll_interval: 0.0015
## XX 
## XX 
## XX 
## XX ##########################################################################
## XX ########################### PT1000 Thermistors ###########################
## XX ##########################################################################
## XX 
## XX [temperature_sensor PT1000_1]
## XX sensor_type: MAX31865
## XX sensor_pin: PA0
## XX spi_speed: 5000000
## XX spi_bus: spi6
## XX rtd_nominal_r: 1000
## XX rtd_reference_r: 4300
## XX rtd_num_of_wires: 2
## XX rtd_use_50Hz_filter: True
## XX max_temp: 600
## XX min_temp: -273.15
## XX 
## XX [temperature_sensor PT1000_2]
## XX sensor_type: MAX31865
## XX sensor_pin: PG8
## XX spi_speed: 5000000
## XX spi_bus: spi6
## XX rtd_nominal_r: 1000
## XX rtd_reference_r: 4300
## XX rtd_num_of_wires: 2
## XX rtd_use_50Hz_filter: True
## XX max_temp: 600
## XX min_temp: -273.15
## XX 
## XX [temperature_sensor PT1000_3]
## XX sensor_type: MAX31865
## XX sensor_pin: PA4
## XX spi_speed: 5000000
## XX spi_bus: spi6
## XX rtd_nominal_r: 1000
## XX rtd_reference_r: 4300
## XX rtd_num_of_wires: 2
## XX rtd_use_50Hz_filter: True
## XX max_temp: 600
## XX min_temp: -273.15
## XX 
## XX [temperature_sensor PT1000_4]
## XX sensor_type: MAX31865
## XX sensor_pin: PF6
## XX spi_speed: 5000000
## XX spi_bus: spi5
## XX rtd_nominal_r: 1000
## XX rtd_reference_r: 4300
## XX rtd_num_of_wires: 2
## XX rtd_use_50Hz_filter: True
## XX max_temp: 600
## XX min_temp: -273.15
## XX 
## XX [temperature_sensor PT1000_5]
## XX sensor_type: MAX31865
## XX sensor_pin: PE1
## XX spi_speed: 5000000
## XX spi_bus: spi5
## XX rtd_nominal_r: 1000
## XX rtd_reference_r: 4300
## XX rtd_num_of_wires: 2
## XX rtd_use_50Hz_filter: True
## XX max_temp: 600
## XX min_temp: -273.15
## XX 
## XX [temperature_sensor PT1000_6]
## XX sensor_type: MAX31865
## XX sensor_pin: PG0
## XX spi_speed: 5000000
## XX spi_bus: spi4
## XX rtd_nominal_r: 1000
## XX rtd_reference_r: 4300
## XX rtd_num_of_wires: 2
## XX rtd_use_50Hz_filter: True
## XX max_temp: 600
## XX min_temp: -273.15
## XX 
## XX [temperature_sensor PT1000_7]
## XX sensor_type: MAX31865
## XX sensor_pin: PE4
## XX spi_speed: 5000000
## XX spi_bus: spi4
## XX rtd_nominal_r: 1000
## XX rtd_reference_r: 4300
## XX rtd_num_of_wires: 2
## XX rtd_use_50Hz_filter: True
## XX max_temp: 600
## XX min_temp: -273.15
## XX 
## XX [temperature_sensor PT1000_8]
## XX sensor_type: MAX31865
## XX sensor_pin: PE11
## XX spi_speed: 5000000
## XX spi_bus: spi4
## XX rtd_nominal_r: 1000
## XX rtd_reference_r: 4300
## XX rtd_num_of_wires: 2
## XX rtd_use_50Hz_filter: True
## XX max_temp: 600
## XX min_temp: -273.15
## XX 
## XX 
## XX 
## XX ##########################################################################
## XX ############################ NTC Thermistors #############################
## XX ##########################################################################
## XX 
## XX # [temperature_sensor NTC_1]
## XX # sensor_type: Generic 3950
## XX # sensor_pin: PA1
## XX # pullup_resistor: 4700
## XX 
## XX # [temperature_sensor NTC_2]
## XX # sensor_type: Generic 3950
## XX # sensor_pin: PF11
## XX # pullup_resistor: 4700
## XX 
## XX [temperature_sensor NTC_3]
## XX sensor_type: Generic 3950
## XX sensor_pin: PF12
## XX pullup_resistor: 4700
## XX 
## XX [temperature_sensor NTC_4]
## XX sensor_type: Generic 3950
## XX sensor_pin: PA2
## XX pullup_resistor: 4700
## XX 
## XX [temperature_sensor NTC_5]
## XX sensor_type: Generic 3950
## XX sensor_pin: PA3
## XX pullup_resistor: 4700
## XX 
## XX [temperature_sensor NTC_6]
## XX sensor_type: Generic 3950
## XX sensor_pin: PA5
## XX pullup_resistor: 4700
## XX 
## XX [temperature_sensor NTC_7]
## XX sensor_type: Generic 3950
## XX sensor_pin: PA6
## XX pullup_resistor: 4700
## XX 
## XX [temperature_sensor NTC_8]
## XX sensor_type: Generic 3950
## XX sensor_pin: PC4
## XX pullup_resistor: 4700
## XX 
## XX [temperature_sensor NTC_9]
## XX sensor_type: Generic 3950
## XX sensor_pin: PB1
## XX pullup_resistor: 4700
## XX 
## XX [temperature_sensor NTC_10]
## XX sensor_type: Generic 3950
## XX sensor_pin: PA7
## XX pullup_resistor: 4700
## XX 
## XX [temperature_sensor NTC_11]
## XX sensor_type: Generic 3950
## XX sensor_pin: PC5
## XX pullup_resistor: 4700
## XX 
## XX [temperature_sensor NTC_12]
## XX sensor_type: Generic 3950
## XX sensor_pin: PB0
## XX pullup_resistor: 4700
## XX 
## XX [temperature_sensor NTC_13]
## XX sensor_type: Generic 3950
## XX sensor_pin: PC0
## XX pullup_resistor: 4700
## XX 
## XX [temperature_sensor NTC_14]
## XX sensor_type: Generic 3950
## XX sensor_pin: PC1
## XX pullup_resistor: 4700



##########################################################################
################################ G-Code #################################
##########################################################################

[pause_resume]

[display_status]

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
    PAUSE_BASE
    _TOOLHEAD_PARK_PAUSE_CANCEL

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
    _TOOLHEAD_PARK_PAUSE_CANCEL
    RESUME_BASE

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
    _TOOLHEAD_PARK_PAUSE_CANCEL
    CANCEL_PRINT_BASE

[gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL]
gcode:
    # Define a safe parking position
    {% set x_park = params.X|default(10) %}
    {% set y_park = params.Y|default(10) %}
    {% set z_park_delta = params.Z|default(10) %}
    
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set cur_z = printer.toolhead.position.z|float %}
    {% set target_z = [ cur_z + z_park_delta, max_z ]|min %}
    
    SAVE_GCODE_STATE NAME=PAUSE_state
    SET_IDLE_TIMEOUT TIMEOUT=43200




